@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


@{
    ViewData["Title"] = "Home Page";
}

<div class="row"> <div class="col-md-6">
        <h3> The avaliable Blue Buds </h3>
        @using BlueBud.Data        
@using Microsoft.AspNetCore.Identity
@model List<ChargerLocations>
        
        
        <ul>
            @foreach (var charger in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@charger.ChargerName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@charger.ChargerType</h6>
                        <a asp-controller="ChargerLocations" asp-action="Reserve" asp-route-id="@charger.Id" > <button type="button" class="btn btn-success">Reserve</button></a>
                      
                    </div>
                </div>
            }
        </ul>
        
    </div>


    <div class="col-md-6" id="map" style="width: 400px; height:600px;">
        
        
    </div>
    
</div>

<script src = "js/site.js"></script>
<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBxinbaf5oXt9Jjy_gpqbXbsPfI-fQBztY" defer></script>